.row-centered {
	text-align: center;
}

.col-centered {
	display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    
}

.col-max {
    /* custom max width */
    max-width:200px;

    word-wrap: break-word;
}

.container{
	height: 100%; 
	background: #FFCCCC;
}

.row{
	padding: 1%;
}